fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langgraph
pymongo
pydantic
faiss-cpu
sentence-transformers
pypdf
python-multipart
pillow
opencv-python-headless
easyocr
numpy
pandas
httpx
motor