*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

.forgot-page{
    min-height:100vh;
    display:flex;
    background:#f4f8ff;
}

/* Left */

.forgot-left{
    flex:1;
    background:linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
}

.brand{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:40px;
}

.brand h1{
    font-size:38px;
}

.forgot-left h2{
    font-size:42px;
    margin-bottom:20px;
}

.forgot-left p{
    font-size:17px;
    line-height:1.8;
}

/* Right */

.forgot-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.forgot-card{
    width:100%;
    max-width:450px;
    background:#fff;
    padding:45px;
    border-radius:22px;
    box-shadow:0 20px 60px rgba(0,0,0,.12);
}

.forgot-card h2{
    font-size:32px;
    color:#1e293b;
    margin-bottom:10px;
}

.forgot-card>p{
    color:#64748b;
    margin-bottom:30px;
}

.input-group{
    display:flex;
    align-items:center;
    gap:12px;
    border:1px solid #dbe3ef;
    height:58px;
    border-radius:14px;
    padding:0 18px;
    margin-bottom:25px;
}

.input-group svg{
    color:#2563eb;
}

.input-group input{
    flex:1;
    border:none;
    outline:none;
    font-size:15px;
}

.forgot-btn{
    width:100%;
    height:56px;
    border:none;
    border-radius:14px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.forgot-btn:hover{
    background:#1d4ed8;
}

.back-login{
    margin-top:25px;
    text-align:center;
    color:#64748b;
}

.back-login a{
    margin-left:6px;
    color:#2563eb;
    text-decoration:none;
    font-weight:600;
}

@media(max-width:992px){

.forgot-page{
    flex-direction:column;
}

.forgot-left{
    padding:60px 35px;
}

}

@media(max-width:600px){

.forgot-left{
    display:none;
}

.forgot-right{
    padding:20px;
}

.forgot-card{
    padding:30px 22px;
}

}